<flow-definition plugin="workflow-job@1590.v49101d088542">
<actions/>
<description/>
<keepDependencies>false</keepDependencies>
<properties/>
<definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4360.v2020e8819a_d6">
<script>pipeline { agent any stages { stage('Hello') { steps { echo 'Hello World' } } } } </script>
<sandbox>true</sandbox>
</definition>
<triggers/>
<disabled>false</disabled>
</flow-definition>